.Page{
    vertical-align: top;
    background-color: #F9F3D8;
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
    width: 100%;
}

.Header { 
    position: absolute;
    top: 0;
    left: 0;
    height: 30%;
    width: 100%;
}

.HeaderImage { 
    position: relative;
    top: 0;
    left: 0;
    height: 50%;
    width: 100%;
    background-image: url("/PrototypeCam/images/HeaderBackground.jpg");
    background-size: 100% 120%;
}

.Menu {
    border-style: solid;
    border-color: #0488A3;
    border-right: 0;
    border-left: 0;
    position: relative;
    top: 0;
    left: 0;
    height: 20%;
    width: 100%;
    background-color: #FCFAF3;
    display: flex;
    justify-content: space-around;
}

.LeftHalf {
    position: relative;
    left: 0;
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.RightHalf {
    position: relative;
    right: 0;
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.MenuItem {
    position: relative;
    top:0;    
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}

#MenuLogo {  
    display: inline;
    border-width: 0;

}

.Content{
    position: fixed;
    top: 28%;
    height: 73%;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#Centered{    
    position: relative;
    display: inline-block;
    text-align: left;
    margin: 0 auto;
}

.InputItem{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    position: relative;
    margin-bottom: 7px;
    width: 400px;
}

.ListCatagory{
    position: relative;
    width: 20%;
    background-color: #FCFAF3;
    border-width: 2px;
    height: 100%;
    overflow: auto;
    bottom: 5%;
    border-radius: 25px;
}

.Title{
    color:#0488A3;
    text-align: center;
    padding: 10px;
}

.BottomLine{
    position: relative;
    border-bottom: 2px solid;
    border-color: #0488A3;
    bottom: 0;
    top: 0;
    left: 10%;
    right: 90%;
    width: 80%;
}

.IncidentItem{
    position: relative;
    border: 2px solid;
    border-radius: 25px;
    border-color: #0488A3;
    border-right: 10px solid;
    border-right-color: red;
    background-color: #FCFAF3;
    top: 10px;
    left: 10%;
    right: 90%;
    width: 80%;
    margin-bottom: 5px;
    padding: 1%;
}

.IncidentItem div {
    width:100%;
}
    
.IncidentItem .IncidentTitle {
    background-color:#FCFAF3;
    margin-top: 2px;
    margin-left: 5px;
    margin-bottom: 2px;
    width: 90%;
    border-radius: 25px;
    cursor: pointer;
    

}

.IncidentItem .IncidentDescription {
    display: none;
    padding : 5px;
}
